*{
    padding: 0;
    margin: 0;
}
main{
    /* background: gray; */
    width: 100%;
    /* height: 100vh; */
}

/* 
=====================================================================================
CREATE ACCOUNT START
=====================================================================================
*/

div.inputbar-name{
    /* background-color: red; */
    width: 82%;
    margin: 0 auto;
    /* display: inline-block; */
}
input.first{
    margin-top: 34px;
    margin-bottom: 25px;
}
div.inputbar-name input.input-name{
    width: 341px;
    height: 54px;
    display: inline-block;
    /* margin-top: 34px; */
    border: 1px solid #8888884d;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
div.inputbar-name input.input-name:focus{
    border: 2px solid #4389f9;
    outline-color: #4389f9; 
}

div.angletag-crt-act{
    float: right;
    display: inline-block;
    margin-top: 47px;
    margin-right: 4px;
}

/* 
=====================================================================================
CREATE ACCOUNT END
=====================================================================================
*/


/* 
=====================================================================================
BASICS START
=====================================================================================
*/

div.date{
    /* background-color: #000000; */
    width: 100%;
}
div.up-input,
div.down-input{
    width: 100%;
    height: 57px;
    /* background-color: yellow; */
    border-radius: 5px;
}
div.block{
    background: green;
    height: 100%;
    width: 30%;
    border-radius: 5px;
    
    float: left;
    display: inline-block;
}
div.twins{
    margin-left: 18px;
}
div.up-input{
    margin-top: 34px;
    margin-bottom: 20px;
}
select[name="month"]{
    width: 100%;
    height: 100%;
    padding: 0 0 0 10px;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #202124;
    border-radius: 5px;
    border: 1px solid #8888884d;
}
select[name="month"]:focus{
    border: 2px solid #4389f9;
    outline-color: #4389f9;
}
input.input-date{
    width: 90%;
    height: 97%;
    padding: 0 0 0 10px;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #202124;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #8888884d;
}
input.input-date:focus{
    border: 2px solid #4389f9;
    outline-color: #4389f9;
}
select[name="gender"]{
    width: 100%;
    height: 100%;
    padding: 0 0 0 10px;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #202124;
    border-radius: 5px;
    border: 1px solid #8888884d;
}
select[name="gender"]:focus{
    border: 2px solid #4389f9;
    outline-color: #4389f9;
}
div.text-info{
    margin-top: 10px;
}
div.text-info a.angle-info{
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0b57d0;
    text-decoration: none;
}

/* 
=====================================================================================
BASICS END
=====================================================================================
*/


/* 
=====================================================================================
ADDRESS START
=====================================================================================
*/
/* div.address-input{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 10px 0 30px 0;
    background-color: red;
}
div.inputbar1 input[type="radio"]{
    width: 10%;
    height: 20px;
}*/


p.save-address{
    padding-bottom: 24px;
    margin-top: 15px;
    border-bottom: 1px solid #8888884d;
}
input.radiobox-address{
    width: 50px;
}
p.checkbox{
    margin-top: 29px;
}

/* 
=====================================================================================
ADDRESS END
=====================================================================================
*/

/* 
=====================================================================================
PHONE VERIFY START
=====================================================================================
*/

div.inputbar1 select[id="town"]{
    width: 85px;
    height: 52px;
}
div.inputbar1 input[type="email2"]{
    width: 265px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #8888884d;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    display: inline-block;
}
div.inputbar1 input[type="email2"]:focus{
    /* border: 2px solid #4389f9; */
    outline-color: #4389f9;
}
select.selectown{
    background: #ffffff;
    color: #000000;
    font-size: 13.33px;
    font-family: arial;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
select.selectown:focus{
    background: #4389f96e;
    outline: none;
}


p.email2{
    color: #888888bb;
    /* display: inline-block; */
    margin-top: 30px;
}
div.angletag2{
    float: right;
    display: inline-block;
    margin-top: 40px;
    /* margin-right: 8.5px; */
}
a.nextpage,
div.inputbar1 input[type="submit"]{
    text-decoration: none;
    padding: 9px 24px 9px 24px;
    background: rgb(84, 84, 254);
    color: #ffffff;
    border-radius: 5px;
    border: none;
}
a.nextpage:hover{
    background: #0557db;
    box-shadow: 0 0 5px 1px #0000002a;
}
div.inputbar1 input[type="submit"]{
    /* cursor: pointer; */
    text-decoration: none;
    padding: 10px 27px 10px 27px;
    background: rgb(84, 84, 254);
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

/* 
=====================================================================================
PHONE VERIFY END
=====================================================================================
*/

/* 
=====================================================================================
VERIFY START
=====================================================================================
*/

div.main-box1{
    /* background-color: #0000ff; */
    /* height: 15vh; */
    width: 82%;
    margin: 0 auto;
    margin-top: 20px;
}
div.inputbar1{
    /* background-color: blue; */
    width: 82%;
    margin: 0 auto;
}
div.inputbar1 input[type="email"]{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #8888884d;
    border-radius: 5px;
    padding-left: 60px;
    font-size: 16px;
    /* display: inline-block; */
}
div.inputbar1 input[type="email"]:focus{
    /* border: 2px solid #4389f9; */
    outline-color: #4389f9;
}
div.angletag1{
    float: right;
    display: inline-block;
    margin-top: 40px;
    margin-right: 8.5px;
}
p.email1{
    color: #888888bb;
    display: inline-block;
    margin-top: 40px;
}

/* 
=====================================================================================
VERIFY END
=====================================================================================
*/

/* 
=====================================================================================
RECOVERY START
=====================================================================================
*/



div.parent{
    /* background: blue; */
    width: 450px;
    /* height: 490vh; */
    margin: 0 auto;
    margin-left: 543px;
    margin-top: 101px;
    display: inline-block;
}
div.firstbox{
    /* background: brown; */
    height: 71vh;
    border-radius: 80x;
    border: 1px solid #8888884d;
    border-radius: 8px;
}
div.main-box{
    text-align: center;
    /* background-color: #0000ff; */
    /* height: 15vh; */
    width: 81%;
    margin: 0 auto;
}
div.main-box p.text{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
}
div.inputbar{
    /* background-color: red; */
    height: 25vh;
    width: 84%;
    margin-left: 40px;
    /* margin: 0 auto; */
    display: inline-block;
}
div.inputbar input[type="email"]{
    width: 336.5px;
    height: 54px;
    display: inline-block;
    margin-top: 34px;
    border: 1px solid #8888884d;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
div.inputbar input[type="email"]:focus{
    /* border: 2px solid #4389f9; */
    outline-color: #4389f9; 
}
nav.button{
    margin-top: 32px;
}
a.next-button,
a.skip-button,
div.inputbar input[type="submit"]{
    display: inline-block;
    border: 1px solid #8888884d;
    border-radius: 3px;
    padding: 8.2px 74.9px 8.2px 74.9px;
    text-decoration: none;
    color: #4389f9;
}
a.skip-button,{
    margin-right: 1.5px;
}
a.next-button:hover,
a.skip-button:hover,
div.inputbar input[type="submit"]:hover{
    background: #fbfafacb;
}
div.inputbar input[type="submit"]{
    background: #fff;
    cursor: pointer;
}

/* 
=====================================================================================
RECOVERY END
=====================================================================================
*/

/* 
=====================================================================================
REVIEW START
=====================================================================================
*/

img.img-review{
    border-radius: 50%;
    width: 30px;
    height: auto;
    display: inline-block;
    margin-top: 5px;
    float: left;
}
nav.img-info{
    display: inline-block;
    margin-left: 10px;
}
div.image-review{
    margin-top: 20px;
}
p.email{
    color: #888888bb;
}
p.number{
    margin-top: 5px;
}
div.phone-review{
    margin-top: 18px;
}
div.angletag{
    float: right;
    display: inline-block;
    margin-top: 50px;
    margin-right: 8.5px;
}
a.nextpage{
    text-decoration: none;
    padding: 9px 24px 9px 24px;
    background: rgb(84, 84, 254);
    color: #ffffff;
    border-radius: 5px;
}
a.nextpage:hover{
    background: #0557db;
    box-shadow: 0 0 5px 1px #0000002a;
}

/* 
=====================================================================================
REVIEW END
=====================================================================================
*/

/* 
=====================================================================================
TERMS AND PRIVACY START
=====================================================================================
*/

div.parent1{
    /* background: aqua; */
    width: 451px;
    margin-left: 534px;
    margin-top: 30px;
    display: inline-block;
}
div.firstbox1{
    /* background: rgba(255, 166, 0, 0.408); */
    /* width: inherit; */
    border: 1px solid #8888884d;
    border-radius: 8px;
    display: inline-block;
}

/*
 images style start
*/
div.img-h1{
    /* background: red; */
    text-align: center;
    margin-top: 43px;
    margin-left: 3px;
}
div.img-h1 img{
    width: 88px;
    margin-bottom: 10px;
}
div.img-h1 h1.text-h1{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
    margin-bottom: 10px;
}
/*
images styles end
*/

/*
main style start
*/
div.divparent{
    /* background: rgba(255, 0, 0, 0.582); */
    width: 82%;
    margin: 0 auto;
}
div.div1{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
    
}
div.div1 p.paragraph1{
    margin-bottom: 15px;
}
div.div1 p.paragraph2{
    margin-bottom: 12px;
}
a.angletag{
    text-decoration: none;
    color: #4389f9;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
}
div.div1 p.titre{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 15.5px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
    color: #202124;
    margin-bottom: 16px;
}
div.div1 ol.list-style{
    list-style: disc;
    padding-left: 39px;
    margin-bottom: 12px;
}
select.select{
    color: blue;
    border: none;
    cursor: pointer;
    width: 106px;
    height: 35.5px;
}
select.select:focus{
    background: #4389f96e;
    border-radius: 5px;
}

/* 
RADIO BOX SPECIFICATION START
*/
div.div1 div.titre1{
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 15.5px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
    color: #202124;
    margin-bottom: 10px;
    /* background-color: blue; */
    width: 100%;
    height: 30px;
    /* display: inline-block; */
}
div.image{
    /* background-color: red; */
    width: 10%;
    height: 100%;
    display: inline-block;
}
div.image>span.material-symbols-outlined{
    display: inline-block;
    float: left;
}
div.text-title{
    /* background-color: green; */
    width: 90%;
    height: 100%;
    display: inline-block;
}
div.text-title strong{
    /* padding-left: 10px; */
    float: left;
    display: inline-block;
}
p.save{
    /* font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    color: #202124; */
    padding-bottom: 14px;
    margin-top: 15px;
    border-bottom: 1px solid #8888884d;
}
input.radiobox{
    width: 50px;
}
p.checkbox{
    margin-top: 29px;
}
p.plus{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* 
RADIO BOX SPECIFICATION END
*/

div.par3{
    margin-top: 20px;
    margin-bottom: 52px;
}
input[type="checkbox"] {
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
    width: 50px;
}
a.button-alt{
    margin-left: 217px;
    padding: 9px 23px;
    color: #ffffff;
    background: rgb(84, 84, 254);
    border-radius: 5px;
    font-size: 16px;
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
a.button-alt:hover{
    background: #0557db;
    box-shadow: 0 0 5px 1px #0000002a;
}
nav.button-end{
    margin-bottom: 70px;
}
/*
Main Style End
*/

/*
MAIN-FOOTER START
*/
div.lastbox1{
    /* width: 200px; */
    /* height: 48px; */
    padding: 10px 0 10px 0;
}
select.language{
    background: #ffffff;
    color: #000000;
    font-size: 13.33px;
    font-family: arial;
    padding: 11px 5px 11px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
select.language:focus{
    background: #4389f96e;
    outline: none;
}
a.down{
    margin-left: 27.5px;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    font-weight: 400;
    color: #202124;
    text-decoration: none;
}
a.help{
    margin-left: 105px;
}
option.option{
    background: #ffffff;
}
/*
MAIN-FOOTER END
*/

/* 
=====================================================================================
TERMS AND PRIVACY END
=====================================================================================
*/
